<section class="text-gray-600 body-font">
    <div class="container px-5 py-12 mx-auto">
      <!-- Contattaci -->
      <div class="text-center mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Contattaci</h1>
        <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500">Hai bisogno di assistenza? Siamo qui per aiutarti. Contattaci per qualsiasi informazione su valutazioni, vendite e acquisti di oro e gioielli.</p>
        <div class="flex mt-6 justify-center">
          <div class="w-16 h-1 rounded-full bg-yellow-500 inline-flex"></div>
        </div>
      </div>
  
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
        <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-5 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
              <path d="M3 8l7.89 5.26a2 2 0 0 0 2.22 0L21 8"></path>
              <path d="M21 8v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8m16 0a2 2 0 0 1-2-2H7a2 2 0 0 1-2 2"></path>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3"><strong>Scrivi o Chiama</strong></h2>
            <p class="leading-relaxed text-base"><strong>Desideri una valutazione gratuita del tuo oro?</strong><br> Scrivici subito a questo indirizzo email:</p>
            <p class="leading-relaxed text-base">
              <a href="mailto:cristina.apesodoro@gmail.com" class="text-indigo-500 leading-relaxed">cristina.apesodoro&#64;gmail.com</a>
            </p>
            <p class="leading-relaxed text-base">Oppure chiama il nostro numero</p>
            <p class="leading-relaxed text-base">
              <a href="tel:+393661827831" class="text-indigo-500 leading-relaxed">+393661827831</a>
            </p>
          </div>
        </div>
  
        <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-5 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
              <path d="M12 8V12l4 2"></path>
              <circle cx="12" cy="12" r="10"></circle>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3"><strong>Orari di Apertura</strong></h2>
            <p class="leading-relaxed text-base">
              <strong>Lunedì - Venerdì:</strong><br>
              09:30 – 12:40 16:30 – 19:30<br>
              <strong>Sabato:</strong><br>
              09:30 – 12:40 16:30 – 19:30<br>
              <strong>Domenica:</strong><br>
              Chiuso
            </p>
          </div>
        </div>
  
        <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-5 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3"><strong>Dove Siamo</strong></h2>
            <p class="leading-relaxed text-base"><strong>Visita la nostra sede:</strong> Via Antonio Rescigno, 48, Castel San Giorgio</p>
            <p class="leading-relaxed text-base"><strong>CAP:</strong> 84083</p>
            <p class="leading-relaxed text-base"><strong>Provincia:</strong> Salerno (SA)</p>
          </div>
        </div>
      </div>
  
      <!-- Separator -->
        <div class="flex mt-12 justify-center">
            <div class="w-16 h-1 rounded-full bg-yellow-500 inline-flex "></div>
        </div>
  
    </div>
</section>
<app-compro-oro-map></app-compro-oro-map>